html {
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  touch-action: manipulation;
  margin: 0;
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
}

#field {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2vh;
}

.playerField {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex: 1;
}

.playerName {
  font-size: 4vh;
}

.playerFieldContent {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 1vh;
}

#playerTwoField {
  rotate: 180deg;
}

.resourceContainer {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  gap: 1vh;
}

.resourceElement {
  min-width: 14vw;
}

.resourceBlock {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 0.2vh;
}

.convertButton {
  height: 100%;
  width: 100%;
}

.resourceText {
  text-align: center;
  padding: 0.2vh;
  font-size: 5vh;
  color: rgb(234, 234, 234);
}

.changeButton {
  font-size: 2vh;
  min-height: 8vh;
}
.convertButton {
  font-size: 2vh;
}

.drawButton {
  flex: 0.1;
  min-height: 6vh;
}

.resetButton {
  min-height: 6vh;
  min-width: 8vh;
}

.blueBlock > .resourceText {
  background-color: rgb(52, 52, 207);
}

.redBlock > .resourceText {
  background-color: rgb(207, 52, 42);
}

.purpleBlock > .resourceText {
  background-color: rgb(207, 52, 207);
}
